@import "mixin";
@import "variables";
* {
    color: $back_colour;
}

body {
    background-color: $back_colour;
    color: rgb(224, 224, 224);
    font-size: 30px;
}

.header {
    @include header;
    font-size: $header_footer_size;
}

.content {
    width: 70%;
    float: left;
    .in-content {
        background: $back_colour;
    }
}

.sidebar {
    float: left;
    margin-left: 1%;
    width: 29%;
    .in-sidebar {
        text-align: center;
        min-height: 600px;
        background-color: tomato;
        overflow: auto;
    }
}

.footer {
    margin-top: 10px;
    .in-footer {
        @include footer;
        font-size: $header_footer_size;
    }
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    display: inline-block;
}

* html .row {
    height: 1%;
}

.row {
    display: block;
}

.video-content {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: $full_size;
    height: $full_size;
}

@media (max-width:768px) {
    html,
    body {
        overflow-x: hidden;
    }
    .header {
        @include header;
        font-size: $header_footer_adapt;
    }
    .content {
        width: $full_size;
        .in-content {
            background: $back_colour;
            min-height: 200px;
        }
    }
    .sidebar {
        width: $full_size;
        .in-sidebar {
            margin-right: 1%;
        }
    }
    .footer {
        margin-top: 10px;
        .in-footer {
            @include footer;
            font-size: $header_footer_adapt;
        }
    }
}